.hero_section, h3 {
    padding: 20px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
  }

.categori_container{
    padding: 2em;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 55px;
  align-items: center;
}

p{
    max-width: 200px;
}